<div>
  <div class="flex">
    <div class="flex-none cursor-pointer" data-modal-target="closeButton">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><path d="m6 6 20 20M26 6 6 26"></path></svg>
    </div>
    <div class="grow">
      <h3 class=" pr-7 text-md leading-6 font-medium text-gray-900 text-center mb-4" id="modal-title">Log in or sign up</h3>
    </div>
  </div>
  <div class="relative">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
  </div>
  <div class="pt-4">
    <h4 class="text-2xl leading-6 font-medium text-gray-900 mtt-2 mt-4">Welcome to Airbnb</h4>
    <div class="mt-6 border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-black focus-within:border-black">
      <label for="email" class="block text-xs font-medium text-gray-900">Email</label>
      <input type="text" name="email" id="email" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="johndoe@email.com">
    </div>
  </div>
</div>
<div class="mt-5 sm:mt-6">
  <button type="button" 
    class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-6 py-3 text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 sm:text-sm airbnb-pink-gradient"
    style="background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;"
  >
  Continue
  </button>
</div>
<div class="relative mt-6">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
    <span class="px-2 bg-white text-sm text-gray-500"> or </span>
  </div>
</div>
<button type="button" class="inline-flex items-center w-full rounded-md border border-black shadow-sm px-6 py-3 bg-white text-base font-small text-black hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black sm:text-sm mt-3">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" class="-ml-1 mr-3 h-5 w-5">
    <path fill="#1877F2" d="M32 0v32H0V0z"></path>
    <path fill="#FFF"
      d="M22.94 16H18.5v-3c0-1.27.62-2.5 2.6-2.5h2.02V6.56s-1.83-.31-3.58-.31c-3.65 0-6.04 2.21-6.04 6.22V16H9.44v4.63h4.06V32h5V20.62h3.73l.7-4.62z"
    ></path>
  </svg>
  <span class="flex-1 text-center">Continue with Facebook</span>
</button>
