@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./colors.scss";
@import "./header.scss";

input:focus {
  outline: none;
  box-shadow: none;
}
