.nav-container {
  min-height: 80px !important;
  align-items: center;
}

.relative.nav-container {
  min-height: 80px !important;
  align-items: center;
}

.logo-link {
  display: inline-block;
  color: $airbnb-logo;
}
