.nav-container {
  min-height: 80px !important;
  align-items: center;
}

.relative.nav-container {
  min-height: 80px !important;
  align-items: center;
}

.logo-link {
  display: inline-block;
  color: $airbnb-logo;
}

.invalid-inset-input-text-field {
  border-color: rgb(244, 63, 94) !important;
  label {
    color: rgb(244, 63, 94) !important;
  }

  input[type="email"],
  input[type="text"] {
    &:focus {
      border-color: rgb(244, 63, 94) !important;
    }
    color: rgb(244, 63, 94) !important;
  }
}
